@import-normalize;

:root {
  --black: #0a0115;
  --white: #f9fafa;
  --gray: #333234;
  --cream: #f6eee7;
  --main: #034b94;
  --accent-2: #6bd19f;
  --accent-1: #dc9934;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: var(--black);
  color: var(--white);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo img {
  max-width: 40px;
}
header {
  width: 100vw;
  padding: 0 1rem;
}

header ul li {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--white);
}

.date {
  display: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  gap: 1rem;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  background: var(--accent-2);
  color: var(--black);
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: auto;
}

.dare-title {
  margin: 0;
}

.result {
  overflow: hidden;
}

.result span {
  font-weight: 700;
  color: var(--accent-1);
}

.code-block {
  background: var(--cream);
  color: var(--black);
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;
  flex-wrap: wrap;
}

@media (min-width: 420px) {
  body {
    font-size: 18px;
  }

  main {
    margin-top: 0;
  }

  header {
    max-width: 1024px;
    padding: 0 2rem;
  }

  .header {
    flex-direction: row;
  }

  .date {
    display: block;
    font-size: 1.5rem;
  }

  .App {
    gap: 2rem;
  }

  footer {
    height: 4rem;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--gray);
    color: var(--white) !important;
    width: 100%;
  }
}
